<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


	



	<bean id="daoDivisa" class="dao.competencia.DaoDivisa">
	</bean>

	<bean id="servicioDivisa" class="servicio.competencia.ServicioDivisa">
		<property name="daoDivisa" ref="daoDivisa"></property>
	</bean>

<bean id="daoCompetencia" class="dao.competencia.DaoCompetencia">
	</bean>

	<bean id="servicioCompetencia" class="servicio.competencia.ServicioCompetencia">
		<property name="daoCompetencia" ref="daoCompetencia"></property>
	</bean>
	
	<bean id="daoIndicador" class="dao.competencia.DaoIndicador">
	</bean>

	<bean id="servicioIndicador" class="servicio.competencia.ServicioIndicador">
		<property name="daoIndicador" ref="daoIndicador"></property>
	</bean>
	
			
	<bean id="daoCategoriaCompetencia" class="dao.competencia.DaoCategoriaCompetencia">
	</bean>

	<bean id="servicioCategoriaCompetencia" class="servicio.competencia.ServicioCategoriaCompetencia">
		<property name="daoCategoriaCompetencia" ref="daoCategoriaCompetencia"></property>
	</bean>

</beans>
