<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
<!--         <property name="hibernate.hbm2ddl.auto">create</property> -->       
        <mapping class="modelo.ClasificacionEquipo" />
        <mapping class="modelo.AnnoEscolar" />
        <mapping class="modelo.Jugador" />
        <mapping class="modelo.EstadoMantenimiento" />
        <mapping class="modelo.EmpleadoConceptoNomina" />
        <mapping class="modelo.Medico" />
        <mapping class="modelo.ClaseMantenimiento" />
        <mapping class="modelo.ClaseMaterial" />
        <mapping class="modelo.EmpleadoMantenimientoPlanificado" />
        <mapping class="modelo.Municipio" />
        <mapping class="modelo.Competencia" />
        <mapping class="modelo.Empleado" />
        <mapping class="modelo.FamiliarComisionEquipo" />
        <mapping class="modelo.TareaMantenimientoPlanificado" />
        <mapping class="modelo.FamiliarJugador" />
        <mapping class="modelo.Material" />
        <mapping class="modelo.Periodicidad" />
        <mapping class="modelo.Benefactor" />
        <mapping class="modelo.TipoActividadSocial" />
        <mapping class="modelo.Indicador" />
        <mapping class="modelo.Resultado" />
        <mapping class="modelo.DatoSocial" />
        <mapping class="modelo.TipoAfeccion" />
        <mapping class="modelo.AfeccionJugador" />
        <mapping class="modelo.Familiar" />
        <mapping class="modelo.ResultadoMantenimiento" />
        <mapping class="modelo.Banco" />
        <mapping class="modelo.EstadoVenezuela" />
        <mapping class="modelo.Proveedor" />
        <mapping class="modelo.Estado" />
        <mapping class="modelo.EmpleadoSueldo" />
        <mapping class="modelo.TipoCompetencia" />
        <mapping class="modelo.Divisa" />
        <mapping class="modelo.Talla" />
        <mapping class="modelo.Alergia" />
        <mapping class="modelo.TipoMaterial" />
        <mapping class="modelo.EstadoCompetencia" />
        <mapping class="modelo.Cliente" />
        <mapping class="modelo.TipoCuentaBanco" />
        <mapping class="modelo.Curso" />
        <mapping class="modelo.TipoInstalacion" />
        <mapping class="modelo.EmpleadoTipoNomina" />
        <mapping class="modelo.Instalacion" />
        <mapping class="modelo.DatoAcademico" />
        <mapping class="modelo.UnidadMedida" />
        <mapping class="modelo.Roster" />
        <mapping class="modelo.TipoLogro" />
        <mapping class="modelo.CodigoCelular" />
        <mapping class="modelo.EmpleadoMantenimiento" />
        <mapping class="modelo.Fase" />
        <mapping class="modelo.Parroquia" />
        <mapping class="modelo.Liga" />
        <mapping class="modelo.TipoMantenimiento" />
        <mapping class="modelo.TipoConceptoNomina" />
        <mapping class="modelo.PeriodicidadPago" />
        <mapping class="modelo.ModalidadCompetencia" />
        <mapping class="modelo.MaterialMantenimiento" />
        <mapping class="modelo.ActividadEntrenamiento" />
        <mapping class="modelo.ConceptoNomina" />
        <mapping class="modelo.ComisionEquipo" />
        <mapping class="modelo.EmpleadoCargo" />
        <mapping class="modelo.Tarea" />
        <mapping class="modelo.TipoEscalaMedicion" />
        <mapping class="modelo.DatoMedico" />
        <mapping class="modelo.FaseCompetencia" />
        <mapping class="modelo.DatoDeportivo" />
        <mapping class="modelo.TipoIndicador" />
        <mapping class="modelo.Categoria" />
        <mapping class="modelo.TareaMantenimiento" />
        <mapping class="modelo.EmpleadoAlergia" />
        <mapping class="modelo.Mantenimiento" />
        <mapping class="modelo.Institucion" />
        <mapping class="modelo.TipoIndumentaria" />
        <mapping class="modelo.Equipo" />
        <mapping class="modelo.EscalaMedicion" />
        <mapping class="modelo.Comision" />
        <mapping class="modelo.MaterialMantenimientoPlanificado" />
        <mapping class="modelo.Pais" />
        <mapping class="modelo.ValorEscalaMedicion" />
        <mapping class="modelo.TipoInstitucion" />
        <mapping class="modelo.ProveedorBanco" />
        <mapping class="modelo.IndicadorActividadEscala" />
        <mapping class="modelo.CodigoArea" />
        <mapping class="modelo.TipoModalidadCompetencia" />
        <mapping class="modelo.DatoAcademicoEmpleado" />
        <mapping class="modelo.PlanificacionMantenimiento" />
        <mapping class="modelo.Cargo" />
        <mapping class="modelo.Profesion" />
        <mapping class="modelo.CategoriaCompetencia" />
        <mapping class="modelo.TipoNomina" />
        <mapping class= "modelo.Regla"/>
    </session-factory>
</hibernate-configuration>
