<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.pool_size">1</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
<!-- 		<property name="show_sql">true</property> -->
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">none</property>
        <mapping class="modelo.ActividadEntrenamiento"/>
		<mapping class="modelo.AfeccionJugador"/>
		<mapping class="modelo.AfeccionJugadorId"/>
		<mapping class="modelo.Alergia"/>
		<mapping class="modelo.AnnoEscolar"/>
		<mapping class="modelo.Banco"/>
		<mapping class="modelo.Benefactor"/>
		<mapping class="modelo.Cargo"/>
		<mapping class="modelo.Categoria"/>
		<mapping class="modelo.CategoriaCompetencia"/>
		<mapping class="modelo.CategoriaCompetenciaId"/>
		<mapping class="modelo.ClaseMantenimiento"/>
		<mapping class="modelo.ClaseMaterial"/>
		<mapping class="modelo.ClasificacionEquipo"/>
		<mapping class="modelo.Cliente"/>
		<mapping class="modelo.CodigoArea"/>
		<mapping class="modelo.CodigoCelular"/>
		<mapping class="modelo.Comision"/>
		<mapping class="modelo.ComisionEquipo"/>
		<mapping class="modelo.ComisionEquipoId"/>
		<mapping class="modelo.Competencia"/>
		<mapping class="modelo.ConceptoNomina"/>
		<mapping class="modelo.Curso"/>
		<mapping class="modelo.DatoAcademico"/>
		<mapping class="modelo.DatoAcademicoEmpleado"/>
		<mapping class="modelo.DatoAcademicoId"/>
		<mapping class="modelo.DatoDeportivo"/>
		<mapping class="modelo.DatoDeportivoId"/>
		<mapping class="modelo.DatoMedico"/>
		<mapping class="modelo.DatoSocial"/>
		<mapping class="modelo.DatoSocialId"/>
		<mapping class="modelo.Divisa"/>
		<mapping class="modelo.Empleado"/>
		<mapping class="modelo.EmpleadoAlergia"/>
		<mapping class="modelo.EmpleadoAlergiaId"/>
		<mapping class="modelo.EmpleadoCargo"/>
		<mapping class="modelo.EmpleadoCargoId"/>
		<mapping class="modelo.EmpleadoConceptoNomina"/>
		<mapping class="modelo.EmpleadoConceptoNominaId"/>
		<mapping class="modelo.EmpleadoMantenimiento"/>
		<mapping class="modelo.EmpleadoMantenimientoId"/>
		<mapping class="modelo.EmpleadoMantenimientoPlanificado"/>
		<mapping class="modelo.EmpleadoMantenimientoPlanificadoId"/>
		<mapping class="modelo.EmpleadoSueldo"/>
		<mapping class="modelo.EmpleadoSueldoId"/>
		<mapping class="modelo.EmpleadoTipoNomina"/>
		<mapping class="modelo.EmpleadoTipoNominaId"/>
		<mapping class="modelo.Equipo"/>
		<mapping class="modelo.EscalaMedicion"/>
		<mapping class="modelo.Estado"/>
		<mapping class="modelo.EstadoCompetencia"/>
		<mapping class="modelo.EstadoMantenimiento"/>
		<mapping class="modelo.EstadoVenezuela"/>
		<mapping class="modelo.Familiar"/>
		<mapping class="modelo.FamiliarComisionEquipo"/>
		<mapping class="modelo.FamiliarComisionEquipoId"/>
		<mapping class="modelo.FamiliarJugador"/>
		<mapping class="modelo.FamiliarJugadorId"/>
		<mapping class="modelo.Fase"/>
		<mapping class="modelo.FaseCompetencia"/>
		<mapping class="modelo.FaseCompetenciaId"/>
		<mapping class="modelo.Indicador"/>
		<mapping class="modelo.IndicadorActividadEscala"/>
		<mapping class="modelo.IndicadorActividadEscalaId"/>
		<mapping class="modelo.Instalacion"/>
		<mapping class="modelo.Institucion"/>
		<mapping class="modelo.Jugador"/>
		<mapping class="modelo.Liga"/>
		<mapping class="modelo.Mantenimiento"/>
		<mapping class="modelo.Material"/>
		<mapping class="modelo.MaterialMantenimiento"/>
		<mapping class="modelo.MaterialMantenimientoId"/>
		<mapping class="modelo.MaterialMantenimientoPlanificado"/>
		<mapping class="modelo.MaterialMantenimientoPlanificadoId"/>
		<mapping class="modelo.Medico"/>
		<mapping class="modelo.ModalidadCompetencia"/>
		<mapping class="modelo.Municipio"/>
		<mapping class="modelo.Pais"/>
		<mapping class="modelo.Parroquia"/>
		<mapping class="modelo.Periodicidad"/>
		<mapping class="modelo.PeriodicidadPago"/>
		<mapping class="modelo.PlanificacionMantenimiento"/>
		<mapping class="modelo.Profesion"/>
		<mapping class="modelo.Proveedor"/>
		<mapping class="modelo.ProveedorBanco"/>
		<mapping class="modelo.Resultado"/>
		<mapping class="modelo.ResultadoMantenimiento"/>
		<mapping class="modelo.ResultadoMantenimientoId"/>
		<mapping class="modelo.Roster"/>
		<mapping class="modelo.RosterId"/>
		<mapping class="modelo.Talla"/>
		<mapping class="modelo.Tarea"/>
		<mapping class="modelo.TareaMantenimiento"/>
		<mapping class="modelo.TareaMantenimientoId"/>
		<mapping class="modelo.TareaMantenimientoPlanificado"/>
		<mapping class="modelo.TareaMantenimientoPlanificadoId"/>
		<mapping class="modelo.TipoActividadSocial"/>
		<mapping class="modelo.TipoAfeccion"/>
		<mapping class="modelo.TipoCompetencia"/>
		<mapping class="modelo.TipoConceptoNomina"/>
		<mapping class="modelo.TipoCuentaBanco"/>
		<mapping class="modelo.TipoEscalaMedicion"/>
		<mapping class="modelo.TipoIndicador"/>
		<mapping class="modelo.TipoIndumentaria"/>
		<mapping class="modelo.TipoInstalacion"/>
		<mapping class="modelo.TipoInstitucion"/>
		<mapping class="modelo.TipoLogro"/>
		<mapping class="modelo.TipoMantenimiento"/>
		<mapping class="modelo.TipoMaterial"/>
		<mapping class="modelo.TipoModalidadCompetencia"/>
		<mapping class="modelo.TipoNomina"/>
		<mapping class="modelo.UnidadMedida"/>
		<mapping class="modelo.ValorEscalaMedicion"/> 
         
    </session-factory>
</hibernate-configuration>
